@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<header>
    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                </a>
            </div>
        </div>
    </nav>
</header>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="has-text-centered">
                    <h2 class="subtitle is-4">Welcome to the BusShuttle Portal</h2>
                </div>
                <div class="buttons is-centered">
                    <a class="button is-primary is-large" asp-controller="Home" asp-action="ManagerPage">Manager Access</a>
                    <a class="button is-primary is-large" asp-controller="Home" asp-action="DriverPage">Driver Access</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
