@model BusShuttleManager.Models.EditLoop
@{
    ViewData["Title"] = "Update Loop";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Edit Loop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<section class="section">
    <div class="container">
        <h2 class="title">Update Loop</h2>
        <a asp-action="Loops" class="button is-info">Back to List</a>
        <div class="columns">
            <div class="column is-one-third">
                <form asp-action="UpdateLoop">
                    <div asp-validation-summary="ModelOnly" class="notification is-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="field">
                        <label asp-for="Name" class="label">Name</label>
                        <div class="control">
                            <input asp-for="Name" class="input" />
                            <span asp-validation-for="Name" class="help is-danger"></span>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input type="submit" value="Update" class="button is-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
</body>
</html>
